<div class="sk-main__product text-center color-light-white-bg">
  <figure class="sk-main__product-img">
    <img
      alt="Product-1"
      class="img-fluid pointer"
      src="{{item.post_thumb_url}}"
    />
  </figure>
  <div class="sk-main__product-details">
    <h4 class="color-black sk-main__product-title">
      {{item.post_title}}
    </h4>
    <p class="p-small color-gray sk-main__product-from">
      {{item.price}}
    </p>
  </div>
  <div class="sk-main__product-btn">
    <button
      data-toggle="modal"
      [attr.data-target]="'#productModal' + item.ID"
      class="button button-primary buy-now"
      (click)="onSelectProduct(item)"
    >
      Buy Now
    </button>
  </div>
</div>


    <!-- Modal -->
    <div
      id="productModal{{item.ID}}"
      tabindex="-1"
      role="dialog"
      class="modal fade show"
      aria-modal="true"
    >
      <div role="document" class="modal-dialog modal-dialog-centered quick-buy">
        <div class="modal-content quick-buy__modal-content">
          <button
            type="button"
            data-dismiss="modal"
            aria-label="Close"
            class="close"
          >
            <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
          </button>
          <div class="modal-body quick-buy__modal-body">
            <section class="sk-product__banner-hide-now">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-12 sk-product__img">
                    <figure class="sk-product__banner-left">
                      <div class="quick-buy__main-img">
                        <img
                          alt=""
                          class="img-fluid quick-buy__thum-img"
                          src="./images/nat.png"
                        />
                        <h3 class="sk-product__title color-black">
                          {{item.post_title}}
                        </h3>
                        <div
                          class="
                            color-gray
                            sk-product__short-details
                            quick-buy__short-details
                          "
                        >
                          <p>
                            {{item.mv_meta_description}}
                          </p>
                          <a
                            data-dismiss="modal"
                            class="
                              link link-hover
                              button-link
                              quick-buy__view-details
                            "
                            >View Details
                            <i class="fas fa-long-arrow-alt-right"></i
                          ></a>
                        </div>
                      </div>
                    </figure>
                  </div>
                  <div class="col-md-6 col-12 sk-product__select">
                    <figure
                      class="sk-product__banner-right quick-buy__right-contetn"
                    >
                      <div class="sk-product__form quick-buy__form">
                        <figure class="sk-product__form-item">
                          <figcaption class="sk-product__select-title">
                            <p class="p-small color-black font-bold">
                              Caffeine free or Charged (caffeine)
                            </p>
                          </figcaption>

                          <label
                            class="
                              custom-radio
                              sk-product__user-select sk-product__select-formula
                              form-control
                              p-small
                              color-black
                            "
                            >Caffeine Free
                            <input
                              type="radio"
                              value="attritem_2_2"
                              name="1" /><span class="checkmark"></span
                          ></label>

                          <label
                            class="
                              custom-radio
                              sk-product__user-select sk-product__select-formula
                              form-control
                              p-small
                              color-black
                            "
                            >Charged
                            <input
                              type="radio"
                              value="attritem_2_1"
                              name="1" /><span class="checkmark"></span></label
                          >
                        </figure>

                        <figure class="sk-product__form-item">
                          <figcaption class="sk-product__select-title">
                            <p class="p-small color-black font-bold">
                              Delivery
                            </p>
                          </figcaption>
                          <label
                            class="
                              custom-radio
                              sk-product__user-select sk-product__select-formula
                              form-control
                              p-small
                              color-black
                            "
                            ><span
                              class="
                                d-flex
                                justify-content-between
                                align-items-start
                              "
                              ><span
                                >Subscribe &amp; save

                                <div class="delivery-list-opt every-month">
                                  <div class="option-item">
                                    <i class="fas fa-check-square"></i> Save
                                    $28.60 starting next month
                                  </div>
                                  <div class="option-item">
                                    <i class="fas fa-check-square"></i> Cancel
                                    anytime
                                  </div>
                                  <div class="option-item">
                                    <i class="fas fa-check-square"></i> Eligible
                                    to earn
                                    <span
                                      data-dismiss="modal"
                                      class="underline"
                                    >
                                      FREE product</span
                                    >
                                  </div>
                                </div> </span
                              ><span class="font-bold">$130</span></span
                            ><input
                              type="radio"
                              name="delivery"
                              value="ordertype_3" /><span
                              class="checkmark"
                            ></span
                          ></label>
                        </figure>

                        <figure
                          class="
                            sk-product__user-amount
                            quick-buy__user-amount
                            d-flex
                            justify-content-between
                            align-items-center
                          "
                        >
                          <div
                            class="
                              sk-product__amount-modify
                              d-flex
                              justify-content-between
                              align-items-center
                            "
                          >
                            <button class="pack-qty-btn" (click)="minus()">
                              <i class="fas fa-minus"></i>
                            </button>
                            <p class="text-center qty-width p-small font-bold" >
                              {{quantity}}
                            </p>
                            <button class="pack-qty-btn" (click)="plus()">
                              <i class="fas fa-plus"></i>
                            </button>
                          </div>
                          <div class="sk-product__amount-cost">
                            <h4>{{defaultPrice * quantity | currency}}</h4>
                          </div>
                        </figure>

                        <button
                          data-dismiss="modal"
                          class="
                            button button-large button-primary
                            full-width
                            add-to-cart-icon
                          "
                          (click)="saveInCart(item)"
                        >
                          Add to cart
                        </button>
                      </div>
                    </figure>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <!-- END of modal -->
