<header class="blog-header">

  <!-- header navbar section  -->
  <nav class="sk-header__navbar border-bottom-1 sk-header__nav-desktop">
    <div class="container">
      <div
        class="
          navbar navbar-expand navbar-dark
          flex-column flex-md-row
          bd-navbar
          sk-header__navbar-padding
        "
      >
        <a
          class="navbar-brand sk-header__logo-box"
          routerLink="products">
        >
          <img
            src="./assets/images/pruvitnow-logo-d.png"
            class="img-fluid sk-header__logo-d"
            alt="Logo desktop"
          />
        </a>

        <ul class="navbar-nav ml-md-auto text-right">
          <li class="nav-item">
            <a class="nav-link sk-header__nav-link" href="#"
              ><img
                src="./assets/images/country.png"
                class="img-fluid sk-header__country-icon"
                alt="country"
              />
              <!-- <i class="fas fa-chevron-down country_select-arrow color-black"></i> -->
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link sk-header__nav-link"
              ><img
                src="./assets/images/user.png"
                class="img-fluid retina-img sk-header__icon"
                alt="user"
            /></a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link sk-header__nav-link cart-has-product"
              routerLink="./cart"
              ><img
                src="./assets/images/cart.png"
                class="img-fluid retina-img sk-header__icon"
                alt="cart"
            />
            <div style="font-size: 10px;" class="badge bg-danger"> <div>{{totalItem}}</div> </div>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- navbar mobile  -->
  <nav class="sk-header__navbar border-bottom-1 sk-header__nav-mobile">
    <div class="container">
      <div class="navbar navbar-expand flex-md-row bd-navbar">
        <a class="nav-link p-2" href="#"
          ><img
            src="./assets/images/country.png"
            class="img-fluid country__mobile"
            alt="country"
          />
          <!-- <i class="fas fa-chevron-down country_select-arrow color-black"></i> -->
        </a>

        <a class="m-auto" href="/index.html" aria-label="Bootstrap">
          <img
            src="./assets/images/pruvitnow-logo-m.png"
            class="img-fluid sk-header__nav-mobile--logo"
            alt="Logo desktop"
          />
        </a>

        <ul class="navbar-nav ml-md-auto text-right">
          <li class="nav-item">
            <a class="nav-link p-2" href="#"
              ><img
                src="./assets/images/user.png"
                class="img-fluid sk-header__user-m sk-header__icon"
                alt="user"
            /></a>
          </li>

          <li class="nav-item">
            <a class="nav-link p-2 cart-has-product"
              ><img
                src="./assets/images/cart.png"
                class="img-fluid sk-header__icon"
                alt="cart"
            />
          </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- END of header  -->
