<footer class="footer color-black-bg">
  <div class="footer__top border-bottom-2">
    <div class="container">
      <div class="footer__logo-box">
        <a href="#"
          ><img
            src="./assets/images/pruvitnow-logo-footer.png"
            alt="Logo Footer"
            class="img-fluid footer__logo"
        /></a>
      </div>

      <div class="footer__nav">
        <div class="footer__nav-content">
          <div class="footer__nav-item footer__nav-item-d">
            <figure class="footer__links">
              <p class="disclaimer-bold color-white-dsrk">Join</p>
              <ul class="footer__links-list">
                <li>
                  <a href="#" class="footer__link disclaimer-reg color-gray"
                    >Join as Customer</a
                  >
                </li>
                <li>
                  <a href="#" class="footer__link disclaimer-reg color-gray"
                    >Join as Promoter</a
                  >
                </li>
                <li>
                  <a href="#" class="footer__link disclaimer-reg color-gray"
                    >Upgrade to Promoter</a
                  >
                </li>
              </ul>
            </figure>
          </div>

          <div class="footer__nav-item footer__nav-item-d">
            <figure class="footer__links">
              <p class="disclaimer-bold color-white-dsrk">Company</p>
              <ul class="footer__links-list">
                <li>
                  <a href="#" class="footer__link disclaimer-reg color-gray"
                    >About</a
                  >
                </li>
                <li>
                  <a href="#" class="footer__link disclaimer-reg color-gray"
                    >Promoter Rewards</a
                  >
                </li>
              </ul>
            </figure>
          </div>

          <div class="footer__nav-item footer__nav-item-d">
            <figure class="footer__links">
              <p class="disclaimer-bold color-white-dsrk">
                Help & Information
              </p>
              <ul class="footer__links-list">
                <li>
                  <a href="#" class="footer__link disclaimer-reg color-gray"
                    >Help Center</a
                  >
                </li>
                <li>
                  <a href="#" class="footer__link disclaimer-reg color-gray"
                    >Privacy</a
                  >
                </li>
                <li>
                  <a href="#" class="footer__link disclaimer-reg color-gray"
                    >Refund Policy</a
                  >
                </li>
                <li>
                  <a href="#" class="footer__link disclaimer-reg color-gray"
                    >Refund Policy</a
                  >
                </li>
                <li>
                  <a href="#" class="footer__link disclaimer-reg color-gray"
                    >terms</a
                  >
                </li>
              </ul>
            </figure>
          </div>

          <!-- footer nav for mobile start -->
          <div class="accordion footer__nav-item-m" id="accordionExample">
            <div>
              <div class="" id="headingOne">
                <p
                  class="mb-0 disclaimer-bold color-white-dsrk expend-icon"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne"
                  role="button"
                >
                  Join
                </p>
              </div>

              <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <ul class="footer__links-list-m">
                  <li>
                    <a
                      href="#"
                      class="footer__link disclaimer-reg color-gray"
                      >Join as Customer</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="footer__link disclaimer-reg color-gray"
                      >Join as Promoter</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="footer__link disclaimer-reg color-gray"
                      >Upgrade to Promoter</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div>
              <div class="" id="headingTwo">
                <p
                  class="mb-0 disclaimer-bold color-white-dsrk expend-icon"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                  role="button"
                >
                  Company
                </p>
              </div>

              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordionExample"
              >
                <ul class="footer__links-list-m">
                  <li>
                    <a
                      href="#"
                      class="footer__link disclaimer-reg color-gray"
                      >About</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="footer__link disclaimer-reg color-gray"
                      >Promoter Rewards</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div>
              <div class="" id="headingThree">
                <p
                  class="mb-0 disclaimer-bold color-white-dsrk expend-icon"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                  role="button"
                >
                  Help & Information
                </p>
              </div>

              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
              >
                <ul class="footer__links-list-m">
                  <li>
                    <a
                      href="#"
                      class="footer__link disclaimer-reg color-gray"
                      >Help Center</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="footer__link disclaimer-reg color-gray"
                      >Privacy</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="footer__link disclaimer-reg color-gray"
                      >Refund Policy</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="footer__link disclaimer-reg color-gray"
                      >Refund Policy</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="footer__link disclaimer-reg color-gray"
                      >terms</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- footer nav for mobile end -->

          <div class="footer__nav-item">
            <figure class="footer__links">
              <p class="disclaimer-bold color-white-dsrk">Follow</p>
              <ul class="footer__social-icon">
                <li>
                  <a href="#" class="footer__social-img"
                    ><img
                      src="./assets/images/facebook.png"
                      alt="facebook"
                      class="img-fluid"
                  /></a>
                </li>
                <li>
                  <a href="#" class="footer__social-img"
                    ><img
                      src="./assets/images/twitter.png"
                      alt="twitter"
                      class="img-fluid"
                  /></a>
                </li>
                <li>
                  <a href="#" class="footer__social-img"
                    ><img
                      src="./assets/images/instagram.png"
                      alt="instagram"
                      class="img-fluid"
                  /></a>
                </li>
              </ul>
            </figure>
          </div>
          <div class="footer__nav-item">
            <figure class="footer__links">
              <p
                class="
                  disclaimer-bold
                  color-white-dsrk
                  footer__payments-title
                "
              >
                🔒 Secure Payments
              </p>
              <div class="footer__payments">
                <a href="#"
                  ><img
                    src="./assets/images/verified.png"
                    alt="verified"
                    class="img-fluid footer__verified"
                /></a>

                <ul class="footer__payments-icons">
                  <li>
                    <a href="#" class="footer__payments-img"
                      ><img
                        src="./assets/images/visa.png"
                        alt="visa"
                        class="img-fluid"
                    /></a>
                  </li>
                  <li>
                    <a href="#" class="footer__payments-img"
                      ><img
                        src="./assets/images/mastercard.png"
                        alt="mastercard"
                        class="img-fluid"
                    /></a>
                  </li>
                  <li>
                    <a href="#" class="footer__payments-img"
                      ><img
                        src="./assets/images/americanexpress.png"
                        alt="americanexpress"
                        class="img-fluid"
                    /></a>
                  </li>
                </ul>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-content color-gray">
        <p
          class="
            copyright-text
            footer__bottom-text-left footer__bottom-copy
          "
        >
          Copyright @ 2019 Pruvit Ventures, Inc. All rights reserved.
        </p>

        <p class="copyright-text footer__bottom-text-right">
          † These statements have not been evaluated by the FDA. This
          product is not intended to diagnose,
          <span class="br-desktop"
            >treat, cure, or prevent any disease.</span
          >
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- END of footer -->
