<section class="select-pack setup-smartship">
  <section class="select-pack-heading text-center">
    <article class="container">
      <figure class="row">
        <div class="col-sm-12">
          <h1 class="jumbo-text-big title">
            Subscribe to SmartShip, never pay full price.
          </h1>
          <p class="subtitle">
            Set up a monthly SmartShip order with any of the eligible
            products below and get 22% OFF future monthly product orders.
          </p>
        </div>
      </figure>
    </article>
  </section>
  <!-- END of select-pack-heading -->
  <section class="select-pack-content">
    <article class="container">
      <figure class="row">
        <div class="col-md-4 col-6 sk-main__custom-pad-l" *ngFor="let item of productLists">
          <app-product-card [item]="item"></app-product-card>
        </div>

        <!-- <div class="col-md-4 col-6 sk-main__custom-pad-l">
          <div class="sk-main__product text-center color-light-white-bg">
            <figure class="sk-main__product-img">
              <img
                alt="Product-1"
                class="img-fluid pointer"
                src="./assets/images/black.png"
              />
            </figure>
            <div class="sk-main__product-details">
              <h4 class="color-black sk-main__product-title">
                Black Label KETO//OS® UNLEASHED™
              </h4>
              <p class="p-small color-gray sk-main__product-from">
                from $XX
              </p>
            </div>
            <div class="sk-main__product-btn">
              <button
                data-toggle="modal"
                data-target="#exampleModalCenter"
                class="button button-primary buy-now"
              >
                Buy Now
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-6 sk-main__custom-pad-l">
          <div class="sk-main__product text-center color-light-white-bg">
            <figure class="sk-main__product-img">
              <img
                alt="Product-1"
                class="img-fluid pointer"
                src="./assets/images/ketoup.png"
              />
            </figure>
            <div class="sk-main__product-details">
              <h4 class="color-black sk-main__product-title">KETO//UP®</h4>
              <p class="p-small color-gray sk-main__product-from">
                from $XX
              </p>
            </div>
            <div class="sk-main__product-btn">
              <button
                data-toggle="modal"
                data-target="#exampleModalCenter"
                class="button button-primary buy-now"
              >
                Buy Now
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-6 sk-main__custom-pad-l">
          <div class="sk-main__product text-center color-light-white-bg">
            <figure class="sk-main__product-img">
              <img
                alt="Product-1"
                class="img-fluid pointer"
                src="./assets/images/ketoos.png"
              />
            </figure>
            <div class="sk-main__product-details">
              <h4 class="color-black sk-main__product-title">
                KETO//OS® NAT™
              </h4>
              <p class="p-small color-gray sk-main__product-from">
                from $130
              </p>
            </div>
            <div class="sk-main__product-btn">
              <button
                data-toggle="modal"
                data-target="#exampleModalCenter"
                class="button button-primary buy-now"
              >
                Buy Now
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-6 sk-main__custom-pad-l">
          <div class="sk-main__product text-center color-light-white-bg">
            <figure class="sk-main__product-img">
              <img
                alt="Product-1"
                class="img-fluid pointer"
                src="./assets/images/black2.png"
              />
            </figure>
            <div class="sk-main__product-details">
              <h4 class="color-black sk-main__product-title">
                Black Label KETO//OS® UNLEASHED™
              </h4>
              <p class="p-small color-gray sk-main__product-from">
                from $49
              </p>
            </div>
            <div class="sk-main__product-btn">
              <button
                data-toggle="modal"
                data-target="#exampleModalCenter"
                class="button button-primary buy-now"
              >
                Buy Now
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-6 sk-main__custom-pad-l">
          <div class="sk-main__product text-center color-light-white-bg">
            <figure class="sk-main__product-img">
              <img
                alt="Product-1"
                class="img-fluid pointer"
                src="./assets/images/ketoup1.png"
              />
            </figure>
            <div class="sk-main__product-details">
              <h4 class="color-black sk-main__product-title">KETO//UP®</h4>
              <p class="p-small color-gray sk-main__product-from">
                from $82
              </p>
            </div>
            <div class="sk-main__product-btn">
              <button
                data-toggle="modal"
                data-target="#exampleModalCenter"
                class="button button-primary buy-now"
              >
                Buy Now
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-6 sk-main__custom-pad-l">
          <div class="sk-main__product text-center color-light-white-bg">
            <figure class="sk-main__product-img">
              <img
                alt="Product-1"
                class="img-fluid pointer"
                src="./assets/images/ketoos2.png"
              />
            </figure>
            <div class="sk-main__product-details">
              <h4 class="color-black sk-main__product-title">
                KETO//OS® NAT™
              </h4>
              <p class="p-small color-gray sk-main__product-from">
                from $108
              </p>
            </div>
            <div class="sk-main__product-btn">
              <button
                data-toggle="modal"
                data-target="#exampleModalCenter"
                class="button button-primary buy-now"
              >
                Buy Now
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-6 sk-main__custom-pad-l">
          <div class="sk-main__product text-center color-light-white-bg">
            <figure class="sk-main__product-img">
              <img
                alt="Product-1"
                class="img-fluid pointer"
                src="./assets/images/black3.png"
              />
            </figure>
            <div class="sk-main__product-details">
              <h4 class="color-black sk-main__product-title">
                Black Label KETO//OS® UNLEASHED™
              </h4>
              <p class="p-small color-gray sk-main__product-from">
                from $149
              </p>
            </div>
            <div class="sk-main__product-btn">
              <button
                data-toggle="modal"
                data-target="#exampleModalCenter"
                class="button button-primary buy-now"
              >
                Buy Now
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-6 sk-main__custom-pad-l">
          <div class="sk-main__product text-center color-light-white-bg">
            <figure class="sk-main__product-img">
              <img
                alt="Product-1"
                class="img-fluid pointer"
                src="./assets/images/ketoup3.png"
              />
            </figure>
            <div class="sk-main__product-details">
              <h4 class="color-black sk-main__product-title">KETO//UP®</h4>
              <p class="p-small color-gray sk-main__product-from">
                from $99
              </p>
            </div>
            <div class="sk-main__product-btn">
              <button
                data-toggle="modal"
                data-target="#exampleModalCenter"
                class="button button-primary buy-now"
              >
                Buy Now
              </button>
            </div>
          </div>
        </div> -->
      </figure>
    </article>
  </section>
  <!-- END of select-pack-content  -->
</section>
<!-- END of select-pack -->



